.header-home {
    margin-top: 2%;
    margin-left: 2%;
}

.dashs {
    width: 300px;
    height: 360px;
    margin-left: 100px;
    margin-top: 130px;
    font-size: 15px;
    background: rgba(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    margin-bottom: 100px;
    border-radius: 15px;
    transform: scale(1.5);
}

.dashs:hover {
    transform: scale(1.6);
}

.div-title-dashs {
    background-color: rgb(197, 227, 255);
    border-radius: 30px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
    height: 20px;
    line-height: 1.9;
    margin-left: 9%;
}

.div-title-dashs:hover{
    transform: translateY(-0.1em);
}

.input-register {
    width: 120px;
    height: 25px;
    margin-bottom: 10px;
    font-style: italic;
    border: 0.1px solid rgb(240, 240, 240);
    border-bottom: 2px solid rgb(133, 196, 255);
}

.input-register:focus {
    border-bottom: 4px solid rgba(133, 196, 255, 0.733);
    box-shadow: 0 0 0 0;
    outline: 0;
}

.input-submit {
    background-color: rgb(133, 196, 255);
    border: none;
    width: 100px;
    height: 20px;
    border-radius: 100px;
    transition: box-shadow 0.7s;
}

.input-submit:hover {
    box-shadow: 5px 5px rgba(133, 196, 255, 0.534);
    cursor: pointer;
}

.input-submit:focus {
    box-shadow: 0px 0px rgba(133, 196, 255, 0.534);
}

#total-h4 {
    margin-top: 50px;
    font-size: 20px;
}

#register-h4 {
    margin-top: 60px;
}

#total-h1 {
    color: rgb(133, 196, 255);
    font-size: 180px;
}